main{
    background-color:#0F4D8F ;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
img{
    border: 5px solid white;
    border-radius: 5%;
    padding: 30px;
}
body{
    align-items: center;
    margin: 5% 15%
}
h1{
    text-transform: uppercase;
    color: white;
    margin-top: 0;
    font-size: 40px;
    font-weight: bold;
}